<h2 class="title">編集</h2>

<div class="content_area">
  <p class="sub_title">物件編集</p>

  <%= render "form" %>

  <span class="to_other_page"><%= link_to "詳細", property_path %></span>
  | <span class="to_other_page"><%= link_to "戻る", property_path %></span>

</div>
