body {
  color: #333;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
}

a:hover {
  text-decoration: underline;
  opacity: 0.5;
}
a:link, a:visited {
  color: #333;
}

.content_area {
  padding-left: 30px;
}

.content_header {
  text-align: center;
}

.sub_title {
  font-size: 1.3rem;
  font-weight: bold;
}

.station_title {
  font-size: 1rem;
  font-weight: bold;
}

.item_area {
  padding-left: 30px;
}
.item_area > p {
  padding-top: 5px;
  padding-bottom: 5px;
}
.item {
  margin-top: 8px;
}

.table_container th, .table_container td {
  padding: 3px;
}

.to_other_page {
  margin-top: 10px;
  font-size: 0.8rem;
}

.button {
  margin-top: 15px;
}
